VITE_API_BASE_URL=http://localhost:8000/api/v1
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_STELLAR_EXPERT_URL=https://stellar.expert/explorer/testnet
